<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IMDB Search API</title>
    <link href="../static/css/error404-personal.css" rel="stylesheet" />
  </head>
  <body>
    <div class="error-section">
      <h1 class="header">404</h1>
      <p>
        Oh, bummer! The video you are looking for cannot be found. Click the
        button below to return to IMDB Search homepage and begin another search.
      </p>
      <a href="/"><button class='button'>Homepage</button></a>
    </div>
  </body>
</html>
